<div class="container">
  <div class="login-box">
        <img id="fotoHeader" src="LETRAS_LOGO_editado-removebg-preview.png" alt="FM Logo">
    <form #userForm="ngForm" (ngSubmit)="sendLogin()">
      <h2>Iniciar sesión</h2>
      <div class="input-group">
        <label for="nickname">Nickname:</label>
        <input
          type="text"
          id="nickname"
          name="nickname"
          [(ngModel)]="nickname"
          required
          #nicknameInput="ngModel"
        />
      </div>
      <!-- Contraseña -->
      <div class="input-group">
        <label for="password">Contraseña:</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          required
          #passwordInput="ngModel"
        />
      </div>
      <div class="invalid-feedback" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      <button type="submit" class="login-button" [disabled]="loading">
        {{ loading ? 'Cargando...' : 'Iniciar sesión' }}
      </button>
      <a class="register-link" [routerLink]="['/registro']">Crear cuenta</a>
    </form>
  </div>
</div>
